body{
    background-color: rgb(183, 183, 183);
    font-family: Arial;
    /* font-weight: bold; */
    font-size: 30px;
    background-image: url('./images/pexels-rovenimagescom-949587.jpg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
    background-size: cover; /* This ensures the image covers the entire background */
    background-attachment: fixed; /* This keeps the background image fixed while scrolling */
    background-position: center; /* Center the background image */
    
}
.innerdiv{
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    mix-blend-mode: multiply; 
}

img{
    height: 20px;
    width: 20px;
}
.prom{
    background-color: rgb(183, 183, 183);
    color:black;
    padding:10px;
    width: 450px;
    height: 90px;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
    border-radius: 10px;
    
}
input.cat{
    width: 35px;
    height: 35px;
    ;
}

.review{
    margin-right: 5px;
    padding: 5px 20px;
}
h1{
    font-size: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
}
h2{
    font-size: 30px;
}
button{
    margin: 2px 5px;
    
    height: 35px;
    cursor: pointer;
    float: right;
    border-radius: 60px;
}.px{
    font-size: large;
    display: inline-flexbox;
    
}
.Story{
    border-radius: 15px;
    width: 530px;
    min-height: 100px;
    height: auto;
    background-color: rgb(183, 183, 183);
    margin: 30px 20px;
    margin-bottom: 20px;
    padding-inline: 12px;
    padding-top: 20px;
    font-size: large;
    font-stretch: ultra-expanded;

}
p{
    background-color: rgb(183, 183, 183);
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}
.instruc{
        display: flex;
        margin: 20px 10px;
        background-color: aliceblue;
        padding-left: 12px;
        padding: 25px;
        border-radius: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
}
.Tags{
    border-radius: 15px;
    display: inline-block;
    width: 300px;
    background-color: aliceblue;
    border-width: 1000px;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
}.main-block{
    border-radius: 25px;
    display: inline-block;
    width: 600px;
    min-height:490px;
    background-color: aliceblue;
    border: 10px;
    border-color: black;
    vertical-align: top;

}.lead-board{
    
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    min-width: 320px;
    min-height: 490px;
    background-color: aliceblue;
    border-width:  30px;
    border-color: black;
    vertical-align: top;
}.genre{
    vertical-align: text-top;
    display: inline-block;
    margin-left:10%;
}#generateButton{
    float: none;
}

